In [3]:
import os
import pandas as pd
from utilities import *

print("current directory: ", os.getcwd())

f1 = 'data/stocks/hot/year=2025/month=02/day=17/comments.csv'
f2 = 'data/stocks/hot/year=2025/month=02/day=17/posts.csv'

# posts cvs structure title,url,subreddit,author,score,num_comments,created_utc,name
# comments csv structure post_name,body,author,score,created_utc,name
# comments_for_thread = comments[comments['post_name'] == thread_name]

current directory:  /home/radu/workspace/github.com/foresst/pythonprojects/stocksentiment

In [7]:
posts = pd.read_csv(f2, usecols=['title', 'score', 'created_utc'])

In [12]:
nasdaq_listed = pd.read_csv('nasdaqlisted.txt', sep='|', usecols=['Symbol', 'Security Name'])
nasdaq_listed.head()

  Symbol                                      Security Name
0  AACBU                 Artius II Acquisition Inc. - Units
1   AACG  ATA Creativity Global - American Depositary Sh...
2   AADI               Aadi Bioscience, Inc. - Common Stock
3   AADR                AdvisorShares Dorsey Wright ADR ETF
4    AAL       American Airlines Group, Inc. - Common Stock

In [15]:
other_listed = pd.read_csv('otherlisted.txt', sep='|', usecols=['ACT Symbol', 'Security Name'])
other_listed.head()

  ACT Symbol                                      Security Name
0          A            Agilent Technologies, Inc. Common Stock
1         AA                    Alcoa Corporation Common Stock
2        AAA     Alternative Access First Priority CLO Bond ETF
3       AAAU             Goldman Sachs Physical Gold ETF Shares
4       AACT  Ares Acquisition Corporation II Class A Ordina...